/*  === Chef Component === */
.app__chef {
  padding: 4rem 6rem;
  background: url('../../assets/bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}
.app__chef_img {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  justify-content: flex-start;
  margin-right: 2rem;
}
.app__chef_img img {
  width: 80%;
}
.app__chef_info {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.app__chef_headtext {
  font-family: var(--font-base);
  color: var(--color-golden);
  font-size: 64px;
  line-height: 83.2px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}
.app__chef_content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 5rem;
}
.app__chef-content_quote {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.app__chef-content_quote img {
  width: 47px;
  height: 40px;
  margin: 0 1rem 1rem 0;
}
.app__chef-content_quote_text,
.app__chef-content_text {
  font-family: var(--font-alt);
  color: var(--color-white);
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 16px;
}
.app__chef-sign {
  width: 100%;
  margin-top: 3rem;
}
.app__chef-sign p:first-child {
  font-family: var(--font-base);
  font-weight: 400;
  font-size: 32px;
  line-height: 41.6px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: var(--color-golden);
}

.app__chef-sign img {
  width: 250px;
  margin-top: 3rem;
}

@media screen and (min-width: 2000px) {
  .app__chef-sign img {
    width: 370px;
  }
}

@media screen and (max-width: 450px) {
  .app__chef-sign img {
    width: 80%;
  }
}
